@import url('https://fonts.google.com/share?selection.family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #0a2be9;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 7rem;
    font-weight: 900;
    color: #500257;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #f74e4e;;
        text-shadow: 0 0 12px #fd0000, 0 0 50px #0011ff, 0 0 100px #ff3333;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s;
}
.greetings > span:nth-child(7) {
    animation-delay: 1.2s;
}

.greetings > span:nth-child(8) {
    animation-delay: 1.4s;
}

.greetings > span:nth-child(9) {
    animation-delay: 1.6s;
}

.greetings > span:nth-child(10) {
    animation-delay: 1.8s;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #b90505; /* Color de texto en tono rojizo */
}

.botones a {
    background-color: #010261; /* Fondo rojo */
    padding: 9px;
    border-radius: 80px;
    text-decoration: none;
    color: white; /* Texto blanco */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botones a:focus {
    background-color: #f8362f; /* Rojo más oscuro */
}

.botones a:hover {
    background-color: #aa0000; /* Fondo más oscuro al pasar el mouse */
    transform: scale(1.1); /* Efecto de agrandamiento */
}
